// Dark shades of the primary color
$clr-pirmary-0: hsl(210, 60%, 21%);
$clr-pirmary-1: hsl(210, 60%, 29%);
$clr-pirmary-2: hsl(210, 60%, 37%);
$clr-pirmary-3: hsl(210, 60%, 45%);
$clr-pirmary-4: hsl(210, 60%, 52%);
$clr-pirmary-5: hsl(210, 60%, 60%);
$clr-pirmary-6: hsl(210, 60%, 67%);
$clr-pirmary-7: hsl(210, 60%, 74%);
$clr-pirmary-8: hsl(210, 60%, 81%);
$clr-pirmary-9: hsl(210, 60%, 88%);

// Light shardes of the primary color

// Dark shades of the secondary color
$clr-pirmary-0: hsl(25, 80%, 21%);
$clr-pirmary-1: hsl(25, 80%, 29%);
$clr-pirmary-2: hsl(25, 80%, 37%);
$clr-pirmary-3: hsl(25, 80%, 45%);
$clr-pirmary-4: hsl(25, 80%, 52%);
$clr-pirmary-5: hsl(25, 80%, 60%);
$clr-pirmary-6: hsl(25, 80%, 67%);
$clr-pirmary-7: hsl(25, 80%, 74%);
$clr-pirmary-8: hsl(25, 80%, 81%);
$clr-pirmary-9: hsl(25, 80%, 88%);

// Light shades of the secondary color

// Dark shades of the grey color
$clr-pirmary-0: hsl(210, 20%, 21%);
$clr-pirmary-1: hsl(210, 20%, 29%);
$clr-pirmary-2: hsl(210, 20%, 37%);
$clr-pirmary-3: hsl(210, 20%, 45%);
$clr-pirmary-4: hsl(210, 20%, 52%);
$clr-pirmary-5: hsl(210, 20%, 60%);
$clr-pirmary-6: hsl(210, 20%, 67%);
$clr-pirmary-7: hsl(210, 20%, 74%);
$clr-pirmary-8: hsl(210, 20%, 81%);

// Light shades of the grey color

// Misc. colors
$clr-white: #FFF;
$clr-black: #222;
$clr-red-dark: hsl(0, 80%, 44%);
$clr-red-light: hsl(0, 66%, 66%);
$clr-green-dark: hsl(125, 80%, 44%);
$clr-green-light: hsl(125, 80%, 44%);
